<%= render 'pages/home' unless user_signed_in? %>

<div id = "posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class= "box panel panel-primary">
      <%= link_to image_tag(post.image.url(:medium)), post %>
      <div class = "panel-body">
        <strong><%= post.description %></br></strong>
        <%= post.user.email if post.user %>

        <% if post.user == current_user %>
          <div class = "actions" style="color:#F39C12">
            <span class = "glyphicon glyphicon-pencil" ></span>
              <%= link_to 'Edit', edit_post_path(post) %>
            <span class = "glyphicon glyphicon-remove" ></span>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<div>
