<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <%= image_tag @post.image.url(:large) %>
      </div>
      <div class="panel-body">
        <p><%= @post.description %></p>
        <p><strong><%= @post.user.name if @post.user %></strong></p>

        <% if current_user && post.user == current_user %>
          <span class = "glyphicon glyphicon-pencil"></span>
          <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>
          <span class = "glyphicon glyphicon-th-large"></span>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>