<!DOCTYPE html>
<html>
<head>
  <title>SuperbOwl</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.00">
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '994966590600306',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%= render 'layouts/header' %>

<div class = 'container'>

		<% flash.each do |name, msg| %>
		  <%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

		<%= yield %>
</div>

</body>
</html>
